<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Cris-aian Vergara | {{ title }} </title>
    {% else %}
        <title>Cris-aian Vergara</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous" />
    {% load static %}
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:index' %}">01 : Home</a>
                        </li>
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-vertical-line">|</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'projects:index' %}">02 : Projects</a>
                        </li>
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-vertical-line">|</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blogs:index' %}">03 : Blog</a>
                        </li>
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-vertical-line">|</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:resume' %}" target="_blank" rel="noopener noreferrer">04 : Resume</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container"><hr class="m-0 p-0" /></div>
    </header>
    <main class="container my-5 py-4">
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center">
        <div class="social-links">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/crisaianvergara/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/crisaianvergara" target="_blank">
                        <i class="fa-brands fa-square-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/crisaianvergara" target="_blank">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/aian.vergara/" target="_blank">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://gitlab.com/crisaianvergara" target="_blank">
                        <i class="fa-brands fa-square-gitlab"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:crisaianvergara@gmail.com" target="_blank">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container"><hr /></div>
        <p class="copy">&copy; Cris-aian Vergara <span id="year">2015</span></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
        crossorigin="anonymous">
    </script>
    <script src="{% static 'main/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/543a846626.js" crossorigin="anonymous"></script>
</body>
</html>